
body{
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin: 0 auto;
  font-family: "sacramento", cursive;
  font-size: 5.625rem;
  margin-top: 50px auto 0px auto;
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

div{
  background-color: #E4F9F5;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  bottom: 200px;
  left: 250px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 100px;
}

.quincy-image{
  width: 200px;

}

.profile{
  padding-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

.intro{
  width: 30%;
  text-align: center;
  margin: auto;
}

.gaming-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.dancing-image{
  width: 25% ;
  float: right;
  margin-left: 30px;
}

.btn{
  color: #11999E;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: white;
}

.skills{
  background-color: white;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  background-color: white;
}

hr{
  border: dotted grey 5px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

.quincy-preccy{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-container{
  background-color: #66BFBF;
}

.contact-me{
  padding-top: 5px;
  line-height: 4;
}

.contact-message{
  width: 50%;
  margin: 40px auto 60px;
}

.top-container{
  color: #EAF6F6;
}

.middle-container{
  background-color: white;
}